* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    background-color: rgb(96, 63, 43);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: rgb(227, 222, 222);
    text-decoration: none;
  }
  .log img {
    height: 150px;
    margin-left: 20px;
  }
  .logo {
    text-transform: uppercase;
    padding-right: 500px;
    font-size: 28px;
    font-weight: 700;
    color: orange;
  }
  ul {
    list-style-type: none;
  }
  .navbar ul li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 60px;
    font-weight: 500;
  }
  a:hover {
    color: rgb(254, 167, 6);
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.heading h1{
    color: white;
    margin: 0;
    font-size: 40px;
    margin-top: 70px;
    
}

.about {
    padding: 50px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 0px;
}

.hero-content {
    flex: 1;
    max-width: 50%;
}

.hero-content h2 {
    font-size:30px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    line-height: 1.6;
    font-style: italic;
}

.team-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.team-image img {
    width: 500px;
    border-radius:50px;
}
.different{
    text-align: center;
    font-size: 30px;
    color: orange;
    background-color: rgb(96, 63, 43);
    width: 100%;
    opacity: 1;

}
.us{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:50px;
    padding: 30px;
    font-size: 22px;
    line-height: 1.6;

}
.us img{
    height: 280px;
    border-radius: 50px;
    border-top: 5px solid rgb(96, 63, 43);
    overflow: hidden;
}
.us h3{
     padding: 10px 40px 0; 
    font-size: 28px;
    color:rgb(96, 63, 43) ;
}
.us p{
    padding:0 40px 0; 
}
.we{
    border-bottom: 2px solid rgb(96, 63, 43);
    border-radius: 50px;
}
.mission{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 60px;
    padding: 25px;
    line-height: 1.6;
    font-size: 25px;
    background-color: #f7f7f7;
}
.mission h3{
    color: rgb(96, 63, 43);
    padding-left: 70px;
}
.mission p{
    font-size: 23px;
    padding-left: 70px;
}
.vission a{
 font-size:30px;
 padding-left: 200px;
 color: orange;
}
#value{
    text-align: center;
    font-size: 30px;
    padding: 25px;
}
.span{
    color: orange;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
  }
  
  .core {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 0 20px;         
    margin-bottom: 40px;
  }
  
  .core i {
    font-size:45px; 
    padding: 0 45px;      
    color: orange;
    
  }
  
  .core p {
    margin-top: 5px;        
    text-align: center;    
    font-size: 26px;
    color: rgb(96, 63, 43);
    font-style: italic;
  }
  .end{
    color:orange;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px;
  }
  .foot {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  gap: 15px;               
  padding: 30px;
  background-color: #f8f9fa; 
  
  }
  
  .foot a {
  text-decoration: none;
  color: #333;          
  font-size: 25px;        
  display: flex;
  align-items: center;
  gap: 8px;               
  transition: color 0.3s;
  }
  .footer a{
  display: inline-flex;
  font-size:30px;
  padding: 8px;
  }
  .foot a:hover {
  color:orange;        
  }
  
  .foot i {
  font-size: 40px;       
  }
  #copy{
    text-align: center;
    font-size: 15px;
    background-color: hsl(0, 0%, 4%);
    color: #f8f9fa;
    padding: 35px;
    margin-bottom: 5px;
  }
  


